* {
    margin: 0;
    padding: 0;
	font-family: 'Poppins', sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(homeheader.png);
    background-position: center;
    background-size: cover;
    position: relative;   
}

nav {
	display: flex;
	padding: 3% 4%;
	justify-content: space-between;
	align-items: center;
}

.nav-links {
	flex: 1;
	text-align: right;
}

.nav-links ul li {
	list-stlye: none;
	display: inline-block;
	padding: 6px 16px;
	position: relative;
}

.nav-links ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 14px;
}

.nav-links ul li::after {
	content: '';
	width: 0%;
	height: 2px;
	background: #f44336;
	display: block;
	margin: auto;	
	transition: 0.5s;
}

.nav-links ul li:hover::after {
	width: 100%;
}

.text-box {
	width: 90%;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.text-box h1 {
	font-size: 58px;
}

.text-box p {
	margin: 10px 0 40px;
	font-size: 18px;
	color: #fff;
}

.shop-btn {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	border: 0.5px solid transparent;
	padding: 12px 34px;
	font-size: 13px;
	background: #000;
	position: relative;
	cursor: pointer;	
}

.shop-btn:hover {
	border: 1px solid transparent;
	background: #606060;
	transition: 0.8s;	
}

nav .fa {
	display: none;
}

@media(max-width: 700px) {
	.text-box h1 {
		font-size: 20px;
	}
	.nav-links ul li {
		display: block;
	}
	.nav-links {
		position: absolute;
		background: #f44336;
		height: 100vh;
		width: 200px;
		top: 0;
		right: -200px;
		text-align: left;
		z-index: 2;
		transition: 1s;
	}
	nav .fa {
		display: inline-block;
		color: #fff;
		margin: 10px;
		font-size: 22px;
		cursor: pointer;
	}
	.nav-links ul {
		padding: 20px;
	}
	.openMenuBtn {
		position: fixed;
		top: 10;
		right: 0px;
		text-align: right;
	}
	html, body {
		overflow-x: hidden;
	}
	.row {
		flex-direction: column;
	}
}

.shop {
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 75px;
}

h1 {
	font-size: 36px;
	font-weight: 600;
}

p {
	color: #777;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
}

.row {
	margin-top: 5%;
	display: flex;
	justify-content: space-between;
}

.shop-col {
	flex-basis: 31%;
	background: #D3D3D3;
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
	transition: 0.5s
}

h3 {
	text-align: center;
	font-weight: 600;
	margin: 10px 0;
}

#green:hover {
	box-shadow: 0 0 20px 0px rgba(0, 128, 0, 0.8);
}

#blue:hover {
	box-shadow: 0 0 20px 0px rgba(0, 0, 255, 0.8);
}

#red:hover {
	box-shadow: 0 0 20px 0px rgba(255, 0, 0, 0.8);
}


















